<section class="hero is-primary is-medium header-image">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="https://www.ufpr.br/portalufpr/wp-content/themes/wpufpr_zurb6_portalufpr/images/logo_ufpr_branca.png" alt="Logo" height="50" width="50">
            Universidade Federal do Paraná
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Início
            </a>
            <a class="navbar-item">
              Examples
            </a>
            <a class="navbar-item">
              Documentation
            </a>
            <span class="navbar-item">
              <p class="control has-icons-right">
                <input class="input is-rounded" type="text" placeholder="Buscar...">
                <span class="icon is-small is-right">
                  <i class="fas fa-search"></i>
                </span>
              </p>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="hero-container has-opaque-background">
      <h1 class="title">
        Bacharelado em Enfermagem
      </h1>
      <h2 class="subtitle">
        Universidade Federal do Paraná <br> Ciências da Saúde
      </h2>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs has-opaque-background">
      <div class="container">
        <ul>
          <li class="is-active"><a>Sobre o Curso</a></li>
          <li><a>Notícias</a></li>
          <li><a>Editais e Informativos</a></li>
          <li><a>Corpo Docente</a></li>
          <li><a>Extensão e Pesquisa</a></li>
          <li><a>Área do Aluno</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>